body {
  margin: 0;
  font-size: 16px;
}

.container {
  width: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

h1 {
  font-size: 48px;
  color: #2e7ad3;
  margin: 45px 0;
}

.header {
  margin: 25px;
  text-align: center;
}


.content {
  background-color: #f1f1f1;
  padding: 25px;
}

h2 {
  font-size: 32px;
  color: #104c90;
  margin-top: 0px;
  margin-bottom: 10px;
}

img {
  height: 125px;
  width: 450px;
  object-fit: cover;
  margin-bottom: 25px;
}

p {
  
  margin-top: 9px;
  margin-bottom: 9px;
}

a {
  color: #ff8000;
  font-weight: bold;
  text-decoration: none;
}

a:hover, a:focus {
  color: #ff80009f;
}

a:active {
  color: rgba(0, 0, 0, 0.801);
}


.read-more {
  margin-bottom: 0;
}